<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>" class='article-title'><%= article.title %></a>
    </li>
  <% end %>
</ul>
</br></br>
<a class='new-article' href="/articles/new">Create a New Article</a>
